
.odd {
    background: #fdf5e6;
    border: lightgray;
    padding: 5px;
    font-weight: bold;
}

.even {
    background: #fdf5e6;
    border: white;
    padding: 5px;
    font-weight: bold;
}

.tirth {
    width: 50%;
    float:left;
    text-align: center;
    padding-bottom: 10%;
}

em {
    color:red;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}